/media/

#..............................................Ignore Python bytecode......................................
*.pyc
__pycache__/

*/__pycache__/

# Ignore all Excel and CSV files
*.xlsx
*.csv


#................................. Ignore Django migrations folders (for all apps) ........................
**/migrations/
**/migrations/*.py[cod]
!**/migrations/__init__.py
*.pyc
__pycache__/


#.................................................. python Envoirment .......................................................................................

/mcomenv/
/.vs/

#______________________________________________________________ project directory _____________________________________________________________________________#

# /mcom_website/
